@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --light-cream: #f8f4e6;
  --light-beige: #f1e0c6;
  --light-gray: #9ea283;
  --dark-gray: #333;
  --light-orange: #d1c488;
  --white: #ffffff;
  --font-family: "Poppins", sans-serif;
}
/* Uklanja selekciju i text kursor globalno */
* {
  cursor: default;
  user-select: none;
}

input,
textarea,
select,
button {
  cursor: text;
  user-select: text;
}
